<div class="container">
   <h1> This is about form page</h1><br>
   <h6>Enter name and email inorder to be redirected to about_page. else will be taken to root </h6><br><br>

   <%= render 'about_page/form' %>
</div>